h1 {
  text-align: center;
  color: #6a11cb;
}

.user-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #333;
}

.user-card h3 {
  margin-top: 0;
  color: #2575fc;
}

.user-card p {
  margin: 0.5rem 0;
}

p strong {
  font-weight: bold;
}

.message-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Encima de otros elementos */
}

.modal-content {
  background: #ffffff;
  border-radius: 8px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea:focus {
  border-color: #6a11cb;
  outline: none;
}

button {
  background: #6a11cb;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #2575fc;
}

button:active {
  transform: scale(0.98);
}

button:nth-child(2) {
  background: #ff4d4d;
}

button:nth-child(2):hover {
  background: #e60000;
}
