<h1>Lista de Mensajes</h1>

<div class="filter-buttons">
  <button (click)="showAllMessages()">Todos</button>
  <button (click)="showReceivedMessages()">Recibidos</button>
  <button (click)="showSentMessages()">Enviados</button>
</div>

<div *ngIf="messages.length > 0; else noMessages">
  <div *ngFor="let message of messages; let i = index" class="message-card">
    <h3>Mensaje {{ i + 1 }}</h3>
    <p><strong>De:</strong> {{ message.senderEmail }} ({{ message.senderId }})</p>
    <p><strong>Para:</strong> {{ message.recipientEmail }} ({{ message.recipientId }})</p>
    <p><strong>Contenido:</strong> {{ message.content }}</p>
    <p><strong>Fecha de Envío:</strong> {{ message.sentDate}}</p>
    <p><strong>Fecha de Lectura:</strong> {{ message.readDate ? (message.readDate) : 'No leído' }}</p>

    <div class="action-buttons">
      <!-- Botón para marcar como leído -->
      <button
        *ngIf="message.recipientId === loggedUserId && !message.readDate"
        class="mark-read-button"
        (click)="markAsRead(message)">
        Marcar como leído
      </button>

      <!-- Botón para eliminar -->
      <button class="delete-button" (click)="deleteMessage(message)">Eliminar</button>
    </div>
  </div>
</div>
<ng-template #noMessages>
  <p>No hay mensajes disponibles.</p>
</ng-template>
